<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Calcula Nomina</a>
  
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Consultar Nomina</a>
        </li>
      </ul>
    </div>
  </nav>


  <div id="Principal">
   
    <form id="Formulario">
        <h1>Calcula tu Nomina</h1>
        <div class="form-group">
          <label for="formGroupExampleInput">Nombre:</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Escribe tu nombre">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Apellidos:</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Escribe tus apellidos">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Fecha:</label>
            <input type="date" class="form-control" id="formGroupExampleInput2">
          </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Sueldo Base:</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Ingresa Sueldo Bruto">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Subsidio:</label>
            <input type="text" class="form-control" id="formGroupExampleInput2">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">ISR:</label>
            <input type="text" class="form-control" id="formGroupExampleInput2">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">ISR Aplicado:</label>
            <input type="text" class="form-control" id="formGroupExampleInput2">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">IMSS:</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" >
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Sueldo Neto:</label>
            <input type="text" class="form-control" id="formGroupExampleInput2">
        </div>
          <button type="button" class="btn btn-success">Guardar</button>
          <button type="button" class="btn btn-danger">Limpiar</button>
      </form>
    
  </div>
